{{!< default}}
{{#post}}
{{#if @labs.members}}
{{#if access}}
<progress class="post-progress"></progress>
{{/if}}
{{else}}
<progress class="post-progress"></progress>
{{/if}}
<article class="post-section">
<div class="post-header item is-hero is-first{{#if feature_image}} is-image{{/if}} {{post_class}}">
	<div class="item-container global-color">
		{{#if feature_image}}
		<div class="item-image global-image global-color">
			{{>images/post_feature_img}}
		</div>
		{{/if}}
		<div class="item-content">
			<div class="item-meta global-meta">
				<time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at timeago="true"}}</time>
				<style media="screen">
  					.updated[datetime="{{published_at}}"] { display: none; }
				</style>
				<time class="updated" datetime="{{updated_at}}">Updated: {{updated_at}}</time>
				{{t "by"}}
				{{#has author="count:1"}}
				{{#primary_author}}
				<a href="{{url}}">{{name}}</a>
				{{/primary_author}}
				{{else}}
				{{#has author="count:2"}}
				{{#if authors}}
				{{#foreach authors}}
				<a href="{{url}}">{{name}}</a>
				{{#if @first}}{{t "&"}}{{/if}}
				{{/foreach}}
				{{/if}}
				{{else}}
				{{#has author="count:3"}}
				{{#if authors}}
				{{#foreach authors}}
				<a href="{{url}}">{{name}}</a>{{#if @first}},{{/if}}
				{{#has number="2"}}
				{{t "and"}}
				{{/has}}
				{{/foreach}}
				{{/if}}
				{{else}}
				{{#has author="count:>3"}}
				{{authors}}
				{{/has}}
				{{/has}}
				{{/has}}
				{{/has}}
				<span class="global-reading">
					— {{reading_time minute=(t "1 minute read") minutes=(t "% minutes read")}}
				</span>
			</div>
			<h2 class="item-title">{{title}}</h2>
			{{#if custom_excerpt}}
			<p class="item-excerpt">
				{{{custom_excerpt}}}
			</p>
			{{/if}}
			{{#if tags}}
			<div class="item-tags global-tags">
				{{#foreach tags}}
				<a href="{{url}}" class="global-tags-hash-sign">{{name}}</a>
				{{/foreach}}
			</div>
			{{/if}}
		</div>
	</div>
</div>
<div class="post-content">
	{{#if @labs.members}}
	{{#if access}}
	{{content}}
	{{>post_share}}
	{{else}}
	{{>members/cta}}
	{{/if}}
	{{else}}
	{{content}}
	{{>post_share}}
	{{/if}}
</div>
</article>
{{#if @labs.members}}
{{#if access}}
{{>post_related}}
{{else}}
{{>members/post_public}}
{{/if}}
{{else}}
{{>post_related}}
{{/if}}
{{>post_nextprev}}
{{#if @labs.members}}
{{#if access}}
<div class="comments-section">
	<div class="comments-wrap">
		{{>services/disqus}}
	</div>
</div>
{{/if}}
{{else}}
<div class="comments-section">
	<div class="comments-wrap">
		{{>services/disqus}}
	</div>
</div>
{{/if}}
{{/post}}