{{#if @labs.members}}
<div class="notifications-section">
	<div class="global-notification subscribe">
		{{t "You’ve successfully subscribed to {blog-title}" blog-title=@site.title}}
	</div>
	<div class="global-notification signin">
		{{t "Welcome back! You’ve successfully signed in."}}
	</div>
	<div class="global-notification signup">
		{{t "Great! You’ve successfully signed up."}}
	</div>
	<div class="global-notification false">
		{{t "Your link has expired"}}
	</div>
	<div class="global-notification success">
		{{t "Success! Your account is fully activated, you now have access to all content."}}
	</div>
</div>

{{#contentFor "notifications_js"}}
<script>
/* Notifications
   –––––––––––––––––––––––––––––––––––––––––––––––––––– 
   Website : ghost.org
   Repo    : github.com/tryghost
   Author  : Ghost
   License : MIT
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
function getParameterByName(e,n){n||(n=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var r=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(n);return r?r[2]?decodeURIComponent(r[2].replace(/\+/g," ")):"":null}

/* Custom settings for notifications */
const action=getParameterByName("action"),success=getParameterByName("success"),stripe=getParameterByName("stripe"),body=document.body;"subscribe"==action&&body.classList.add("global-notification-subscribe"),"signin"==action&&body.classList.add("global-notification-signin"),"signup"==action&&body.classList.add("global-notification-signup"),"false"==success&&body.classList.add("global-notification-false"),"success"==stripe&&body.classList.add("global-notification-success");
</script>
{{/contentFor}}
{{/if}}